<div class="field time" data-bind="css: additionalCss()">

    <label class="label" data-bind="attr: { for: uid }" >
        <span data-bind="i18n: label"></span>
    </label>

    <div class="control">
        <select class="calcurates-delivery-date-time select" id="calcurates_delivery_date_time"
                data-bind="
                    attr: {
                        id: uid,
                        name: inputName,
                        disabled: disabled,
                        'aria-describedby': getDescriptionId(),
                        'aria-required': required,
                        'aria-invalid': validationError() ? true : 'false',
                        placeholder: placeholder
                    },
                    hasFocus: focused,
                    value: value,
                    options: options,
                    optionsValue: 'value',
                    optionsText: 'label',
                    optionsCaption: caption,
                    event: {change: onChangeTime}
                    ">
        </select>
        <!-- ko if: validationError() -->
            <div class="field-error" data-bind="attr: { id: element.errorId }" generated="true">
                <span data-bind="text: validationError()"></span>
            </div>
        <!-- /ko -->
    </div>
</div>

