version: '3.7'

volumes:
  Magento2DataVolume:

services:
  mysql:
    build:
      context: ./.docker/mysql
      dockerfile: Dockerfile
    command: [--innodb-use-native-aio=0]
    container_name: magento2-mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_PASSWORD=passwoRt
      - MYSQL_USER=magento2
      - MYSQL_DATABASE=magento2
    volumes:
      - './.docker/mysql/data:/var/lib/mysql'
      - './.docker/mysql/server.cnf:/etc/mysql/conf.d/server.cnf'

  php:
    privileged: true
    build:
      context: ./.docker/php
      dockerfile: Dockerfile
    volumes:
      - '.docker/php/php.ini:/usr/local/etc/php/php.ini'
      - '.docker/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini'
      - 'Magento2DataVolume:/var/www/magento2'
      - './Api:/var/www/magento2/app/code/Calcurates/ModuleMagento/Api'
      - './Block:/var/www/magento2/app/code/Calcurates/ModuleMagento/Block'
      - './Client:/var/www/magento2/app/code/Calcurates/ModuleMagento/Client'
      - './Controller:/var/www/magento2/app/code/Calcurates/ModuleMagento/Controller'
      - './etc:/var/www/magento2/app/code/Calcurates/ModuleMagento/etc'
      - './Helper:/var/www/magento2/app/code/Calcurates/ModuleMagento/Helper'
      - './i18n:/var/www/magento2/app/code/Calcurates/ModuleMagento/i18n'
      - './Model:/var/www/magento2/app/code/Calcurates/ModuleMagento/Model'
      - './Observer:/var/www/magento2/app/code/Calcurates/ModuleMagento/Observer'
      - './Plugin:/var/www/magento2/app/code/Calcurates/ModuleMagento/Plugin'
      - './Setup:/var/www/magento2/app/code/Calcurates/ModuleMagento/Setup'
      - './view:/var/www/magento2/app/code/Calcurates/ModuleMagento/view'
      - './.editorconfig:/var/www/magento2/app/code/Calcurates/ModuleMagento/.editorconfig'
      - './.gitattributes:/var/www/magento2/app/code/Calcurates/ModuleMagento/.gitattributes'
      - './.gitignore:/var/www/magento2/app/code/Calcurates/ModuleMagento/.gitignore'
      - './.gitlab-ci.yml:/var/www/magento2/app/code/Calcurates/ModuleMagento/.gitlab-ci.yml'
      - './composer.json:/var/www/magento2/app/code/Calcurates/ModuleMagento/composer.json'
      - './docker-compose.yml:/var/www/magento2/app/code/Calcurates/ModuleMagento/docker-compose.yml'
      - './installation_guide.pdf:/var/www/magento2/app/code/Calcurates/ModuleMagento/installation_guide.pdf'
      - './LICENSE:/var/www/magento2/app/code/Calcurates/ModuleMagento/LICENSE'
      - './README.md:/var/www/magento2/app/code/Calcurates/ModuleMagento/README.md'
      - './registration.php:/var/www/magento2/app/code/Calcurates/ModuleMagento/registration.php'
      - './vendor:/var/www/magento2/vendor'
    container_name: magento2-php
    ports:
      - "9000:9000" # php-fpm
    environment:
      - MYSQL_PASSWORD=passwoRt
      - MYSQL_USER=magento2
      - MYSQL_DATABASE=magento2
    depends_on:
      - mysql
    expose:
      - "9001" # xdebug

  nginx:
    build:
      context: ./.docker/nginx
      dockerfile: Dockerfile
    volumes:
      - 'Magento2DataVolume:/var/www/magento2'
      - './vendor:/var/www/magento2/vendor'
      - './.docker/nginx/magento2.conf:/etc/nginx/conf.d/default.conf'
    ports:
      - "80:80"
    container_name: magento2-nginx
    depends_on:
      - php
