<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2019 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <calcurates>
                <title>Calcurates</title>
                <active>0</active>
                <showmethod>1</showmethod>
                <api_url>https://api.calcurates.com</api_url>
                <display_rates_with_tax>1</display_rates_with_tax>
                <model>Calcurates\ModuleMagento\Model\Carrier</model>
                <calcurates_token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <missing_address_message>Please fill in the required delivery address fields to get shipping quotes</missing_address_message>
                <info_message_display_position>in_tooltip</info_message_display_position>
                <debug>0</debug>
                <other_shipping_methods_action>2</other_shipping_methods_action>
                <api_get_rates_timeout>10</api_get_rates_timeout>
                <ignore_virtual>1</ignore_virtual>
                <delivery_date_display>do_not_show</delivery_date_display>
                <delivery_date_display_type>days_qty</delivery_date_display_type>
                <date_format>EEEE (dd/MM/Y)</date_format>
                <display_package_name_for_carrier>1</display_package_name_for_carrier>
                <shipping_on_product_fallback_message>Shipping info will be displayed at checkout</shipping_on_product_fallback_message>
                <shipping_on_product_timer_format>{{hours}}h {{minutes}}m {{seconds}}s</shipping_on_product_timer_format>
                <store_pickup_display>shipping_methods</store_pickup_display>
                <split_checkout>0</split_checkout>
                <split_checkout_title>Aggregated Shipping</split_checkout_title>
                <google_places_input_title>Estimate Your Delivery Cost</google_places_input_title>
            </calcurates>
        </carriers>
    </default>
</config>
