<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2019-2020 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Calcurates\ModuleMagento\Api\Catalog\CategoryManagementInterface" type="Calcurates\ModuleMagento\Model\Catalog\CategoryManagement"/>

    <preference for="Calcurates\ModuleMagento\Api\ConfigProviderInterface" type="Calcurates\ModuleMagento\Model\Config"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\ConfigDataInterface" type="Calcurates\ModuleMagento\Model\Config\Data"/>

    <preference for="Calcurates\ModuleMagento\Api\Data\Catalog\Product\AttributeCustomDataInterface" type="Calcurates\ModuleMagento\Model\Catalog\Product\Attribute\CustomData"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\Catalog\Product\AttributeCustomDataOptionInterface" type="Calcurates\ModuleMagento\Model\Catalog\Product\Attribute\CustomDataOption"/>
    <preference for="Calcurates\ModuleMagento\Api\Catalog\Product\ProductAttributesListInterface" type="Calcurates\ModuleMagento\Model\Catalog\Product\AttributesList"/>

    <preference for="Calcurates\ModuleMagento\Api\Data\ShippingDataInterface" type="Calcurates\ModuleMagento\Model\Data\ShippingData"/>
    <preference for="Calcurates\ModuleMagento\Api\Shipping\ShippingDataResolverInterface" type="Calcurates\ModuleMagento\Model\Shipment\ShippingDataResolver"/>

    <preference for="Calcurates\ModuleMagento\Api\Client\CalcuratesClientInterface"
                type="Calcurates\ModuleMagento\Model\Carrier\CacluratesCachedClient"/>

    <type name="Calcurates\ModuleMagento\Model\Carrier\CacluratesCachedClient">
        <arguments>
            <argument name="calcuratesClient" xsi:type="object">Calcurates\ModuleMagento\Client\CalcuratesClient\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Shipping\Model\Order\Track">
        <plugin name="Calcurates_ModuleMagento::Track" type="Calcurates\ModuleMagento\Plugin\Model\Order\TrackPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Shipment">
        <plugin name="Calcurates_ModuleMagento::Shipment" type="Calcurates\ModuleMagento\Plugin\Model\Order\ShipmentPlugin"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="Calcurates_ModuleMagento::QuoteToOrderItem" type="Calcurates\ModuleMagento\Plugin\Model\Quote\ToOrderItemPlugin"/>
    </type>

    <!-- magento fix region is array. -->
    <type name="Magento\Customer\Model\Address\AbstractAddress">
        <plugin name="Calcurates_ModuleMagento::FixRegionIsArray" type="Calcurates\ModuleMagento\Plugin\Model\Customer\Address\AbstractAddressPlugin"/>
    </type>

    <type name="Calcurates\ModuleMagento\Model\Carrier">
        <arguments>
            <argument name="rateRequestBuilder" xsi:type="object">Calcurates\ModuleMagento\Client\Request\RateRequestBuilder\Proxy</argument>
            <argument name="createShippingLabelCommand" xsi:type="object">Calcurates\ModuleMagento\Client\Command\CreateShippingLabelCommand\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\InventorySourceSelectionApi\Model\SourceSelectionService">
        <arguments>
            <argument name="sourceSelectionMethods" xsi:type="array">
                <item name="calcurates"
                      xsi:type="string">Calcurates\ModuleMagento\Model\Source\Algorithms\CalcuratesBasedAlgorithm</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\InventorySourceSelectionApi\Model\GetSourceSelectionAlgorithmList">
        <arguments>
            <argument name="availableAlgorithms" xsi:type="array">
                <item name="calcurates" xsi:type="array">
                    <item xsi:type="string" name="code">calcurates</item>
                    <item xsi:type="string" name="title" translatable="true">Calcurates Algorithm</item>
                    <item xsi:type="string" name="description" translatable="true">Algorithm which provides Source Selections based on Calcurates service</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- change default source algorithm to calcurates -->
    <preference for="Magento\InventorySourceSelectionApi\Api\GetDefaultSourceSelectionAlgorithmCodeInterface"
                type="Calcurates\ModuleMagento\Model\Source\Algorithms\GetDefaultSourceSelectionAlgorithmCode"/>

    <type name="Magento\Shipping\Model\Shipping">
        <plugin name="Calcurates_ModuleMagento::HideOtherCarriersIfRequired" type="Calcurates\ModuleMagento\Plugin\Model\Shipping\ShippingPlugin"/>
    </type>

    <!-- custom sources webapi -->
    <preference for="Calcurates\ModuleMagento\Api\Source\SourceRepositoryInterface"
                type="Calcurates\ModuleMagento\Model\Source\SourceRepository"/>
    <preference for="Calcurates\ModuleMagento\Api\Source\Data\SourceSearchResultsInterface"
                type="Calcurates\ModuleMagento\Model\Source\Data\SourceSearchResults"/>
    <preference for="Calcurates\ModuleMagento\Api\Source\Data\SourceInterface"
                type="Calcurates\ModuleMagento\Model\Source\Data\Source"/>

    <type name="Magento\Shipping\Model\Rate\CarrierResult">
        <plugin name="Calcurates_ModuleMagento::ChangeCalcurateRatesSorting" type="Calcurates\ModuleMagento\Plugin\Model\Shipping\CarrierResultPlugin"/>
    </type>

    <type name="Calcurates\ModuleMagento\Client\Command\CreateShippingLabelCommand">
        <arguments>
            <argument name="logger" xsi:type="object">Magento\Shipping\Model\Method\VirtualLogger</argument>
        </arguments>
    </type>

    <preference for="Calcurates\ModuleMagento\Api\Data\ShippingLabelInterface"
                type="Calcurates\ModuleMagento\Model\ShippingLabel"/>
    <preference for="Calcurates\ModuleMagento\Api\ShippingLabelRepositoryInterface"
                type="Calcurates\ModuleMagento\Model\Repository\ShippingLabelRepository" />

    <type name="Magento\SalesRule\Model\Rule\Condition\Address">
        <plugin name="Calcurates_ModuleMagento::FixShippingAddressValidation"
                type="Calcurates\ModuleMagento\Plugin\Model\Rule\Condition\AddressPlugin" />
    </type>

    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="Calcurates_ModuleMagento::AddCalcuratesTooltip"
                type="Calcurates\ModuleMagento\Plugin\Model\Cart\ShippingMethodConverterPlugin" />
    </type>
    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="Calcurates_ModuleMagento::AddCalcuratesTooltipToImport"
                type="Calcurates\ModuleMagento\Plugin\Model\Quote\Address\RatePlugin" />
    </type>
</config>
