<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2019-2020 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Calcurates\ModuleMagento\Api\Catalog\CategoryManagementInterface" type="Calcurates\ModuleMagento\Model\Catalog\CategoryManagement"/>

    <preference for="Calcurates\ModuleMagento\Api\ConfigProviderInterface" type="Calcurates\ModuleMagento\Model\Config"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\ConfigDataInterface" type="Calcurates\ModuleMagento\Model\Config\Data"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\RateDataInterface" type="Calcurates\ModuleMagento\Model\Data\RateData"/>
    <preference for="Calcurates\ModuleMagento\Api\Source\OriginsManagementInterface" type="Calcurates\ModuleMagento\Model\Source\OriginsManagement"/>

    <preference for="Calcurates\ModuleMagento\Api\Data\Catalog\Product\AttributeCustomDataInterface" type="Calcurates\ModuleMagento\Model\Catalog\Product\Attribute\CustomData"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\Catalog\Product\AttributeCustomDataOptionInterface" type="Calcurates\ModuleMagento\Model\Catalog\Product\Attribute\CustomDataOption"/>
    <preference for="Calcurates\ModuleMagento\Api\Catalog\Product\ProductAttributesListInterface" type="Calcurates\ModuleMagento\Model\Catalog\Product\AttributesList"/>

    <preference for="Calcurates\ModuleMagento\Api\Data\ShippingDataInterface" type="Calcurates\ModuleMagento\Model\Data\ShippingData"/>

    <preference for="Calcurates\ModuleMagento\Api\Client\CalcuratesClientInterface"
                type="Calcurates\ModuleMagento\Model\Carrier\CalcuratesCachedClient"/>

    <type name="Calcurates\ModuleMagento\Model\Carrier\CalcuratesCachedClient">
        <arguments>
            <argument name="calcuratesClient" xsi:type="object">Calcurates\ModuleMagento\Client\CalcuratesClient\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Webapi\Controller\Rest\SynchronousRequestProcessor">
        <plugin name="Calcurates_ModuleMagento::MagentoVersionHeader" type="Calcurates\ModuleMagento\Plugin\Controller\Rest\SynchronousRequestProcessorPlugin"/>
    </type>
    <type name="Magento\Shipping\Model\Order\Track">
        <plugin name="Calcurates_ModuleMagento::Track" type="Calcurates\ModuleMagento\Plugin\Model\Order\TrackPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Shipment">
        <plugin name="Calcurates_ModuleMagento::Shipment" type="Calcurates\ModuleMagento\Plugin\Model\Order\ShipmentPlugin"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="Calcurates_ModuleMagento::QuoteToOrderItem" type="Calcurates\ModuleMagento\Plugin\Model\Quote\ToOrderItemPlugin"/>
    </type>

    <!-- magento fix region is array. -->
    <type name="Magento\Customer\Model\Address\AbstractAddress">
        <plugin name="Calcurates_ModuleMagento::FixRegionIsArray" type="Calcurates\ModuleMagento\Plugin\Model\Customer\Address\AbstractAddressPlugin"/>
    </type>

    <type name="Calcurates\ModuleMagento\Model\Carrier">
        <arguments>
            <argument name="rateRequestBuilder" xsi:type="object">Calcurates\ModuleMagento\Client\Request\RateRequestBuilder\Proxy</argument>
            <argument name="createShippingLabelCommand" xsi:type="object">Calcurates\ModuleMagento\Client\Command\CreateShippingLabelCommand\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\InventorySourceSelectionApi\Model\SourceSelectionService">
        <arguments>
            <argument name="sourceSelectionMethods" xsi:type="array">
                <item name="calcurates"
                      xsi:type="string">Calcurates\ModuleMagento\Model\Source\Algorithms\CalcuratesBasedAlgorithm</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\InventorySourceSelectionApi\Model\GetSourceSelectionAlgorithmList">
        <arguments>
            <argument name="availableAlgorithms" xsi:type="array">
                <item name="calcurates" xsi:type="array">
                    <item xsi:type="string" name="code">calcurates</item>
                    <item xsi:type="string" name="title" translatable="true">Calcurates Algorithm</item>
                    <item xsi:type="string" name="description" translatable="true">Algorithm which provides Source Selections based on Calcurates service</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- change default source algorithm to calcurates -->
    <preference for="Magento\InventorySourceSelectionApi\Api\GetDefaultSourceSelectionAlgorithmCodeInterface"
                type="Calcurates\ModuleMagento\Model\Source\Algorithms\GetDefaultSourceSelectionAlgorithmCode"/>

    <type name="Magento\Shipping\Model\Shipping">
        <plugin name="Calcurates_ModuleMagento::HideOtherCarriersIfRequired" type="Calcurates\ModuleMagento\Plugin\Model\Shipping\ShippingPlugin"/>
        <plugin name="Calcurates_ModuleMagento::MarkRequestAsEstimate" type="Calcurates\ModuleMagento\Plugin\Model\Shipping\ShippingAddEstimateFlagToRequestPlugin"/>
    </type>

    <!-- custom sources webapi -->
    <preference for="Calcurates\ModuleMagento\Api\Source\SourceRepositoryInterface"
                type="Calcurates\ModuleMagento\Model\Source\SourceRepository"/>
    <preference for="Calcurates\ModuleMagento\Api\Source\Data\SourceSearchResultsInterface"
                type="Calcurates\ModuleMagento\Model\Source\Data\SourceSearchResults"/>
    <preference for="Calcurates\ModuleMagento\Api\Source\Data\SourceInterface"
                type="Calcurates\ModuleMagento\Model\Source\Data\Source"/>

    <type name="Magento\Shipping\Model\Rate\CarrierResult">
        <plugin name="Calcurates_ModuleMagento::ChangeCalcurateRatesSorting" type="Calcurates\ModuleMagento\Plugin\Model\Shipping\CarrierResultPlugin"/>
    </type>

    <type name="Calcurates\ModuleMagento\Client\Command\CreateShippingLabelCommand">
        <arguments>
            <argument name="logger" xsi:type="object">Magento\Shipping\Model\Method\VirtualLogger</argument>
        </arguments>
    </type>

    <preference for="Calcurates\ModuleMagento\Api\Data\ShippingLabelInterface"
                type="Calcurates\ModuleMagento\Model\ShippingLabel"/>
    <preference for="Calcurates\ModuleMagento\Api\ShippingLabelRepositoryInterface"
                type="Calcurates\ModuleMagento\Model\Repository\ShippingLabelRepository" />
    <preference for="Calcurates\ModuleMagento\Api\Data\ManifestInterface"
                type="Calcurates\ModuleMagento\Model\Manifest"/>
    <preference for="Calcurates\ModuleMagento\Api\ManifestSaveInterface"
                type="Calcurates\ModuleMagento\Model\Shipment\Manifest\ManifestSave" />

    <type name="Magento\SalesRule\Model\Rule\Condition\Address">
        <plugin name="Calcurates_ModuleMagento::FixShippingAddressValidation"
                type="Calcurates\ModuleMagento\Plugin\Model\Rule\Condition\AddressPlugin" />
    </type>

    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="Calcurates_ModuleMagento::AddCalcuratesTooltip"
                type="Calcurates\ModuleMagento\Plugin\Model\Cart\ShippingMethodConverterPlugin" />
    </type>
    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="Calcurates_ModuleMagento::AddCalcuratesTooltipToImport"
                type="Calcurates\ModuleMagento\Plugin\Model\Quote\Address\RatePlugin" />
    </type>

    <type name="Calcurates\ModuleMagento\Client\Response\CompositeProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
            </argument>
        </arguments>
    </type>

    <type name="Calcurates\ModuleMagento\Client\RatesResponseProcessor">
        <arguments>
            <argument name="responseProcessor" xsi:type="object">NativeCompositeProcessor</argument>
        </arguments>
    </type>

    <virtualType name="NativeCompositeProcessor" type="Calcurates\ModuleMagento\Client\Response\CompositeProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="metadata_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\MetadataProcessor</item>
                <item name="residential_shipping_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\ResidentialShippingProcessor</item>
                <item name="origin_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\OriginProcessor</item>
                <item name="sort_shipping_options_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\ShippingOptionSortProcessor</item>
                <item name="free_shipping_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\FreeShippingProcessor</item>
                <item name="flat_rate_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\FlatRateProcessor</item>
                <item name="table_rate_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\TableRateProcessor</item>
                <item name="carrier_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\CarrierProcessor</item>
                <item name="in_store_pickup_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\InStorePickupProcessor</item>
                <item name="merged_shipping_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\MergedShippingProcessor</item>
                <item name="rate_shopping_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\RateShoppingProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SplitCheckoutCompositeProcessor" type="Calcurates\ModuleMagento\Client\Response\CompositeProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="metadata_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\MetadataProcessor</item>
                <item name="sort_shipping_options_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\SplitCheckout\ShippingOptionSortProcessor</item>
                <item name="free_shipping_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\FreeShippingProcessor</item>
                <item name="flat_rate_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\FlatRateProcessor</item>
                <item name="table_rate_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\SplitCheckout\TableRateProcessor</item>
                <item name="carrier_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\SplitCheckout\CarrierProcessor</item>
                <item name="rate_shopping_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\SplitCheckout\RateShoppingProcessor</item>
                <item name="in_store_pickup_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\SplitCheckout\InStorePickupProcessor</item>
                <item name="product_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\SplitCheckout\ProductProcessor</item>
                <item name="origin_processor" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Processor\SplitCheckout\OriginProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Calcurates\ModuleMagento\Client\Response\Strategy\SplitCheckoutStrategy">
        <arguments>
            <argument name="ratesResponseProcessor" xsi:type="object">Calcurates\ModuleMagento\Client\MetaRatesResponseProcessor</argument>
        </arguments>
    </type>
    <virtualType name="ChildMetaRateResponseProcessor" type="Calcurates\ModuleMagento\Client\RatesResponseProcessor">
        <arguments>
            <argument name="responseProcessor" xsi:type="object">SplitCheckoutCompositeProcessor</argument>
        </arguments>
    </virtualType>
    <type name="Calcurates\ModuleMagento\Client\MetaRatesResponseProcessor">
        <arguments>
            <argument name="ratesResponseProcessor" xsi:type="object">ChildMetaRateResponseProcessor</argument>
        </arguments>
    </type>
    <preference for="Calcurates\ModuleMagento\Api\Data\MetaRateInterface" type="Calcurates\ModuleMagento\Model\Data\MetaRate"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\MetaRateDataInterface" type="Calcurates\ModuleMagento\Model\Data\MetaRateData"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\SplitShipmentInterface" type="Calcurates\ModuleMagento\Model\Data\SplitShipment"/>
    <virtualType name="ResponseMetadataHydratorPool" type="Calcurates\ModuleMagento\Client\Response\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Calcurates\ModuleMagento\Api\Data\Metadata\DeliveryDatesMetadataInterface" xsi:type="object">Calcurates\ModuleMagento\Client\Response\Hydrators\DeliveryDatesMetadataHydrator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Calcurates\ModuleMagento\Client\Response\MetadataPool">
        <arguments>
            <argument name="hydratorPool" xsi:type="object">ResponseMetadataHydratorPool</argument>
            <argument name="metadata" xsi:type="array">
                <item name="Calcurates\ModuleMagento\Api\Data\Metadata\DeliveryDatesMetadataInterface" xsi:type="const">Calcurates\ModuleMagento\Api\Data\MetadataInterface::DELIVERY_DATES_METADATA</item>
            </argument>
        </arguments>
    </type>

    <preference for="Calcurates\ModuleMagento\Client\Response\MetadataPoolInterface" type="Calcurates\ModuleMagento\Client\Response\MetadataPool"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\MetadataInterface" type="Calcurates\ModuleMagento\Model\Data\Metadata"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\Metadata\DeliveryDatesMetadataInterface" type="Calcurates\ModuleMagento\Model\Metadata\DeliveryDatesMetadata"/>

    <preference for="Calcurates\ModuleMagento\Model\ArchiveDataHandlerInterface" type="Calcurates\ModuleMagento\Model\ArchiveDataHandler"/>

    <preference for="Calcurates\ModuleMagento\Api\EstimateShippingByProductsGuestInterface" type="Calcurates\ModuleMagento\Model\Estimate\EstimateShippingByProductsGuest"/>
    <preference for="Calcurates\ModuleMagento\Api\EstimateShippingByProductsInterface" type="Calcurates\ModuleMagento\Model\Estimate\EstimateShippingByProducts"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\SimpleRateInterface" type="Calcurates\ModuleMagento\Model\Estimate\SimpleRate"/>

    <!-- Quote Data -->
    <preference for="Calcurates\ModuleMagento\Api\SalesData\QuoteData\GetQuoteDataInterface" type="Calcurates\ModuleMagento\Model\SalesData\QuoteData\GetQuoteData"/>
    <preference for="Calcurates\ModuleMagento\Api\SalesData\QuoteData\SaveQuoteDataInterface" type="Calcurates\ModuleMagento\Model\SalesData\QuoteData\SaveQuoteData"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\QuoteDataInterface" type="Calcurates\ModuleMagento\Model\QuoteData"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\OrderDataInterface" type="Calcurates\ModuleMagento\Model\OrderData"/>
    <preference for="Calcurates\ModuleMagento\Api\SalesData\OrderData\GetOrderDataInterface" type="Calcurates\ModuleMagento\Model\SalesData\OrderData\GetOrderData"/>
    <preference for="Calcurates\ModuleMagento\Api\SalesData\OrderData\SaveOrderDataInterface" type="Calcurates\ModuleMagento\Model\SalesData\OrderData\SaveOrderData"/>
    <preference for="Calcurates\ModuleMagento\Api\SalesData\QuoteData\QuoteAddressExtensionAttributesInterface" type="Calcurates\ModuleMagento\Model\SalesData\QuoteData\QuoteAddress"/>
    <preference for="Calcurates\ModuleMagento\Api\SalesData\OrderData\OrderAddressExtensionAttributesInterface" type="Calcurates\ModuleMagento\Model\SalesData\OrderData\OrderAddress"/>
    <!-- Delivery Dates -->
    <preference for="Calcurates\ModuleMagento\Api\Data\DeliveryDate\DateInterface" type="Calcurates\ModuleMagento\Model\DeliveryDate\Date"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\DeliveryDate\TimeIntervalInterface" type="Calcurates\ModuleMagento\Model\DeliveryDate\TimeInterval"/>
    <preference for="Calcurates\ModuleMagento\Api\Data\InStorePickup\PickupLocationInterface" type="Calcurates\ModuleMagento\Model\InStorePickup\PickupLocation"/>
    <preference for="Calcurates\ModuleMagento\Api\InStorePickup\PickupLocationRepositoryInterface" type="Calcurates\ModuleMagento\Model\InStorePickup\PickupLocationRepository"/>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Calcurates\ModuleMagento\Model\SalesData\QuoteData\QuoteAddress" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">calcurates_quote_address_data</item>
                    <item name="identifierField" xsi:type="string">id</item>
                </item>
                <item name="Calcurates\ModuleMagento\Model\SalesData\OrderData\OrderAddress" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">calcurates_order_address_data</item>
                    <item name="identifierField" xsi:type="string">id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Calcurates\ModuleMagento\Model\SalesData\QuoteData\QuoteAddress" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Calcurates\ModuleMagento\Model\SalesData\OrderData\OrderAddress" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="Calcurates_ModuleMagento::SaveDeliveryDatesPlugin"
                type="Calcurates\ModuleMagento\Plugin\QuoteDataSave\Checkout\Model\SaveDeliveryDateFromShippingInfoPlugin"
                sortOrder="10"/>
        <plugin name="Calcurates_ModuleMagento::AddPickupLocationForQuoteAddress"
                type="Calcurates\ModuleMagento\Plugin\Model\Checkout\AddPickupLocationForQuoteAddress"
                sortOrder="20"/>
    </type>
    <type name="Magento\Sales\Api\Data\OrderInterface">
        <plugin name="Calcurates_ModuleMagento::AddShippingAddressExtensionAttributesPlugin"
                type="Calcurates\ModuleMagento\Plugin\Model\Order\AddResidentialExtensionAttribute"
                sortOrder="10"/>
    </type>
    <virtualType name="Calcurates\ModuleMagento\Model\Request\DataPersistor" type="Magento\Framework\App\Request\DataPersistor">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session</argument>
        </arguments>
    </virtualType>
    <type name="Calcurates\ModuleMagento\Model\InStorePickup\PickupLocationPersistor">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">Calcurates\ModuleMagento\Model\Request\DataPersistor</argument>
        </arguments>
    </type>
    <type name="Calcurates\ModuleMagento\Api\InStorePickup\PickupLocationRepositoryInterface">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">Calcurates\ModuleMagento\Model\Request\DataPersistor</argument>
        </arguments>
    </type>

    <type name="Calcurates\ModuleMagento\Client\Request\OrderInfoRequestBuilder">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">Calcurates\ModuleMagento\Model\Request\DataPersistor</argument>
        </arguments>
    </type>

    <type name="Calcurates\ModuleMagento\Client\Http\HttpClient">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">Calcurates\ModuleMagento\Model\Request\DataPersistor</argument>
        </arguments>
    </type>
    <type name="Calcurates\ModuleMagento\Model\Carrier">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">Calcurates\ModuleMagento\Model\Request\DataPersistor</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="Calcurates_ModuleMagento::SaveDeliveryDatesPlugin"
                type="Calcurates\ModuleMagento\Plugin\QuoteDataSave\Checkout\Model\SaveDeliveryDateFromShippingInfoPlugin"
                sortOrder="10"/>
        <plugin name="Calcurates_ModuleMagento::AddPickupLocationForQuoteAddress"
                type="Calcurates\ModuleMagento\Plugin\Model\Checkout\AddPickupLocationForQuoteAddress"
                sortOrder="20"/>
    </type>
    <type name="Magento\Quote\Api\BillingAddressManagementInterface">
        <plugin name="Calcurates\ModuleMagento\Plugin\Model\Quote\DoNotUseBillingAddressForShipping"
                type="Calcurates\ModuleMagento\Plugin\Model\Quote\DoNotUseBillingAddressForShipping"
                sortOrder="10"/>
    </type>
    <type name="Magento\Quote\Model\ShippingAddressManagementInterface">
        <plugin name="Calcurates\ModuleMagento\Plugin\Model\Quote\ReplaceShippingAddressForShippingAddressManagement"
                type="Calcurates\ModuleMagento\Plugin\Model\Quote\ReplaceShippingAddressForShippingAddressManagement"
                sortOrder="10"/>
    </type>

    <!-- Add delivery date fee to shipping amount -->
    <type name="Magento\Quote\Model\Quote\Address\Total\Shipping">
        <plugin name="Calcurates_ModuleMagento::AddDeliveryDateFee"
                type="Calcurates\ModuleMagento\Plugin\DeliveryDateFee\Quote\Address\Total\AddShippingFeeToShippingTotal"/>
        <plugin name="Calcurates_ModuleMagento::MetarateTotal"
                type="Calcurates\ModuleMagento\Plugin\SplitCheckout\Quote\Address\Total\MetarateTotal"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Shipment\Grid\Collection">
        <plugin name="Calcurates\ModuleMagento\Plugin\Model\Order\ResourceModel\Shipment\Grid\Collection"
                type="Calcurates\ModuleMagento\Plugin\Model\Order\ResourceModel\Shipment\Grid\Collection"/>
    </type>
    <type name="Magento\Framework\Api\ExtensibleDataObjectConverter">
        <plugin name="Calcurates_ModuleMagento::add_calcurates_data_for_graphql"
                type="Calcurates\ModuleMagento\Plugin\GraphQL\DataObjectConverterPlugin" />
    </type>
    <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Calcurates\ModuleMagento\Model\Order\Pdf\Invoice"/>
    <preference for="\Magento\Sales\Model\Order\Pdf\Creditmemo" type="Calcurates\ModuleMagento\Model\Order\Pdf\Creditmemo"/>
    <type name="Magento\Checkout\Model\TotalsInformationManagement">
        <plugin name="calcurates_calculate_totals_information"
                type="Calcurates\ModuleMagento\Plugin\Model\Checkout\CalculateTotalsInformation"
                sortOrder="10"/>
    </type>
    <preference for="Calcurates\ModuleMagento\Api\Data\TaxIdentifierInterface"
                type="Calcurates\ModuleMagento\Model\TaxIdentifier"/>
    <type name="Calcurates\ModuleMagento\Client\Response\DeliveryDateProcessor">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
