<?xml version="1.0"?>
<!--
  @author Calcurates Team
  @copyright Copyright (c) 2019 Calcurates (https://www.calcurates.com)
  @package Calcurates_ModuleMagento
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Calcurates_ModuleMagento" setup_version="1.2.0" />
</config>
