<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2019-2020 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Calcurates_ModuleMagento" setup_version="1.30.0" />
</config>
