<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2019-2020 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Paypal\Block\Express\Review">
        <plugin name="Calcurates_ModuleMagento::AddDeliveryDateInfo" type="Calcurates\ModuleMagento\Plugin\Block\Paypal\Express\ReviewPlugin"/>
    </type>
</config>
