<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2019-2020 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Paypal\Block\Express\Review">
        <plugin name="Calcurates_ModuleMagento::AddDeliveryDateInfo" type="Calcurates\ModuleMagento\Plugin\Block\Paypal\Express\ReviewPlugin"/>
    </type>

    <!-- Remove store pickup selector if disabled -->
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="calcuratesDisableStorePickupSelector" xsi:type="object">Calcurates\ModuleMagento\Block\Checkout\Onepage\CheckoutLayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Paypal\Controller\Express\SaveShippingMethod">
        <plugin name="Calcurates_ModuleMagento::SaveShippingMethodPlugin"
                type="Calcurates\ModuleMagento\Plugin\Paypal\Controller\Express\SaveShippingMethodPlugin"/>
    </type>

    <!-- Add Calcurates config values to window.chekcoutConfig object   -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="calcurates_provider" xsi:type="object">Calcurates\ModuleMagento\Model\CheckoutConfigProvider\CalcuratesConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
