<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2019-2020 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Shipping\Block\Adminhtml\Order\Packaging">
        <plugin name="Calcurates_ModuleMagento::ChangePackagingLogic"
                type="Calcurates\ModuleMagento\Plugin\Block\Adminhtml\Order\PackagingPlugin"/>
    </type>

    <type name="Magento\Shipping\Model\Shipping\LabelGenerator">
        <plugin name="Calcurates_ModuleMagento::AddAdditionalDataFromRequestToLabelGenerator"
                type="Calcurates\ModuleMagento\Plugin\ShippingLabel\Model\LabelGeneratorPlugin" />
    </type>

    <type name="Magento\Shipping\Block\Adminhtml\Order\Packaging\Grid">
        <plugin name="Calcurates\ModuleMagento\Plugin\Block\Adminhtml\Order\Packaging\GridPlugin"
                type="Calcurates\ModuleMagento\Plugin\Block\Adminhtml\Order\Packaging\GridPlugin"/>
    </type>

    <virtualType name="calcurates_backend_data_persistor" type="Magento\Framework\App\Request\DataPersistor">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Backend\Model\Session</argument>
        </arguments>
    </virtualType>
    <type name="Calcurates\ModuleMagento\Model\Shipment\CarriersSettingsProvider">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">calcurates_backend_data_persistor</argument>
        </arguments>
    </type>
    <type name="Calcurates\ModuleMagento\Plugin\Block\Adminhtml\Order\PackagingPlugin">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">calcurates_backend_data_persistor</argument>
        </arguments>
    </type>
    <type name="Calcurates\ModuleMagento\Plugin\ShippingLabel\Model\LabelGeneratorPlugin">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">calcurates_backend_data_persistor</argument>
        </arguments>
    </type>
    <type name="Magento\Shipping\Controller\Adminhtml\Order\Shipment\PrintLabel">
        <plugin name="Calcurates\ModuleMagento\Plugin\Controller\Shipping\Adminhtml\Order\Shipment\PrintLabel"
                type="Calcurates\ModuleMagento\Plugin\Controller\Shipping\Adminhtml\Order\Shipment\PrintLabel"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="Calcurates\ModuleMagento\Plugin\Block\Adminhtml\Order\View\InfoPlugin"
                type="Calcurates\ModuleMagento\Plugin\Block\Adminhtml\Order\View\InfoPlugin"/>
    </type>
    <type name="Magento\Email\Block\Adminhtml\Template\Edit\Form">
        <plugin name="calcurates_email_edit_form_add_variables"
                type="Calcurates\ModuleMagento\Plugin\EmailEditFormAddVariables"
                sortOrder="10"/>
    </type>
    <type name="Calcurates\ModuleMagento\Plugin\Model\Rule\Condition\AddressShippingOptionsPlugin">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">calcurates_backend_data_persistor</argument>
        </arguments>
    </type>
    <type name="Calcurates\ModuleMagento\Client\Command\GetAllShippingOptionsCommand">
        <arguments>
            <argument name="dataPersistor" xsi:type="object">calcurates_backend_data_persistor</argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Address">
        <plugin name="calcurates_all_shipping_methods_for_store"
                type="Calcurates\ModuleMagento\Plugin\Model\Rule\Condition\AddressShippingOptionsPlugin"
                sortOrder="10"/>
    </type>
</config>
