<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2020 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_convert_order_to_quote">
        <observer name="calcurates_save_quote_before_collecting_totals"
                  instance="Calcurates\ModuleMagento\Observer\QuoteSaveWhileEditOrderObserver" />
    </event>
    <event name="adminhtml_sales_order_create_process_data_before">
        <observer name="calcurates_save_quote_data_split_shipment"
                  instance="Calcurates\ModuleMagento\Observer\SaveSplitShipmentAdminOrderCreate"/>
    </event>
</config>
