<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2019 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <section id="carriers">
            <resource>Calcurates_ModuleMagento::config</resource>
            <group id="calcurates" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Calcurates</label>
                <frontend_model>Calcurates\ModuleMagento\Block\Adminhtml\System\Config\Form\Information</frontend_model>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="calcurates_token" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Calcurates API Token</label>
                    <comment><![CDATA[Token supplied by Calcurates]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>

                <field id="api_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>API URL</label>
                </field>

                <field id="display_rates_with_tax" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Display rates with tax and duties</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Affects international shipping rates from carriers]]></comment>
                </field>

                <field id="debug" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="specificerrmsg" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Default Error Message</label>
                </field>

                <field id="api_get_rates_timeout" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>API Timeout (seconds)</label>
                    <validate>validate-greater-than-zero validate-digits required-entry</validate>
                </field>

                <field id="shipping_methods_for_fallback" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show only if error or API timeout exceeded</label>
                    <source_model>Calcurates\ModuleMagento\Model\Config\Source\ActiveShippingMethodsSource</source_model>
                    <comment>Selected methods must be enabled. Leave empty to show all active methods</comment>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
