<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author Calcurates Team
  @copyright Copyright © 2019 Calcurates (https://www.calcurates.com)
  @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  @package Calcurates_ModuleMagento
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <section id="carriers">
            <resource>Calcurates_ModuleMagento::config</resource>
            <group id="calcurates" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Calcurates</label>
                <frontend_model>Calcurates\ModuleMagento\Block\Adminhtml\System\Config\Form\Information</frontend_model>
                <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>carriers/calcurates/active</config_path>
                        <requires>
                            <field id="calcurates_token"/>
                        </requires>
                    </field>
                    <field id="calcurates_token" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Calcurates API Token</label>
                        <comment><![CDATA[Token supplied by Calcurates]]></comment>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>carriers/calcurates/calcurates_token</config_path>
                    </field>
                    <field id="api_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>API URL</label>
                        <config_path>carriers/calcurates/api_url</config_path>
                    </field>
                    <field id="ignore_virtual" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Ignore Virtual Products</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>carriers/calcurates/ignore_virtual</config_path>
                    </field>
                    <field id="split_checkout" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Split Checkout by Origins</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>carriers/calcurates/split_checkout</config_path>
                    </field>
                    <field id="split_checkout_title" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Split Checkout by Origins Title</label>
                        <config_path>carriers/calcurates/split_checkout_title</config_path>
                        <depends>
                            <field id="split_checkout">1</field>
                        </depends>
                    </field>
                </group>
                <group id="design_layout" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Design and Layout</label>
                    <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Title</label>
                        <config_path>carriers/calcurates/title</config_path>
                    </field>
                    <field id="specificerrmsg" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Default Error Message</label>
                        <config_path>carriers/calcurates/specificerrmsg</config_path>
                    </field>
                    <field id="display_shipping_options_images" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Display Images for Shipping Options</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>carriers/calcurates/display_shipping_options_images</config_path>
                    </field>
                    <field id="display_package_name_for_carrier" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Display package name next to method name</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>carriers/calcurates/display_package_name_for_carrier</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <config_path>carriers/calcurates/sort_order</config_path>
                    </field>
                </group>
                <group id="international_shipping" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>International Shipping</label>
                    <field id="display_rates_with_tax" translate="label comment" type="select" sortOrder="10"
                           showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Display rates with tax and duties</label>
                        <source_model>Calcurates\ModuleMagento\Model\Config\Source\RateTaxDisplaySource</source_model>
                        <comment><![CDATA[Affects international shipping rates from carriers]]></comment>
                        <config_path>carriers/calcurates/display_rates_with_tax</config_path>
                    </field>
                </group>
                <group id="delivery_dates" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Dates</label>
                    <field id="delivery_dates_hint" type="note" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Calcurates\ModuleMagento\Block\Adminhtml\System\Config\Form\Field\DeliveryDatesNote</frontend_model>
                    </field>
                    <field id="delivery_date_display" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Delivery dates display settings</label>
                        <source_model>Calcurates\ModuleMagento\Model\Config\Source\DeliveryDateDisplaySource</source_model>
                        <config_path>carriers/calcurates/delivery_date_display</config_path>
                    </field>
                    <field id="delivery_date_display_type" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Delivery dates display format</label>
                        <source_model>Calcurates\ModuleMagento\Model\Config\Source\DeliveryDateDisplayTypeSource</source_model>
                        <comment><![CDATA[Qty of days in transit example: “3 days“ or “3-4 days“.<br>
                    Estimated delivery dates: specific date or range of dates will be displayed.<br>
                    Estimated delivery dates (Magento format): Date format from Magento settings will be applied.]]></comment>
                        <config_path>carriers/calcurates/delivery_date_display_type</config_path>
                    </field>
                </group>
                <group id="shipping_on_product_pages" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping on Product Pages</label>
                    <field id="shipping_on_product_pages_hint" type="note" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Calcurates\ModuleMagento\Block\Adminhtml\System\Config\Form\Field\ShippingOnProductPagesNote</frontend_model>
                    </field>
                    <field id="shipping_on_product_enabled" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Display Shipping on Product Pages</label>
                        <source_model>Calcurates\ModuleMagento\Model\Config\Source\ShippingOnProductPages</source_model>
                        <config_path>carriers/calcurates/shipping_on_product_enabled</config_path>
                    </field>
                    <field id="shipping_on_product_attribute_code" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Calcurates\ModuleMagento\Model\Config\Source\ProductAttributeSource</source_model>
                        <config_path>carriers/calcurates/shipping_on_product_attribute_code</config_path>
                        <depends>
                            <field id="shipping_on_product_enabled">2</field>
                        </depends>
                    </field>
                    <field id="shipping_on_product_attribute_value" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute Value</label>
                        <config_path>carriers/calcurates/shipping_on_product_attribute_value</config_path>
                        <depends>
                            <field id="shipping_on_product_enabled">2</field>
                        </depends>
                    </field>
                    <field id="enable_google_address_autocomplete" translate="label comment" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Google Address Autocomplete</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>carriers/calcurates/enable_google_address_autocomplete</config_path>
                        <depends>
                            <field id="shipping_on_product_enabled" separator=",">1,2</field>
                        </depends>
                    </field>
                    <field id="google_places_api_key" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Google Places API Key</label>
                        <config_path>carriers/calcurates/google_places_api_key</config_path>
                        <depends>
                            <field id="enable_google_address_autocomplete">1</field>
                        </depends>
                    </field>
                    <field id="google_places_input_title" translate="label comment" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Block Title</label>
                        <config_path>carriers/calcurates/google_places_input_title</config_path>
                        <depends>
                            <field id="enable_google_address_autocomplete">1</field>
                        </depends>
                    </field>
                    <field id="shipping_on_product_fallback_message" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fallback Message if No Methods Available</label>
                        <config_path>carriers/calcurates/shipping_on_product_fallback_message</config_path>
                        <depends>
                            <field id="shipping_on_product_enabled" separator=",">1,2</field>
                        </depends>
                    </field>
                </group>
                <group id="in_store_pickup" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>In-Store Pickup</label>
                    <field id="in_store_pickup_hint" type="note" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Calcurates\ModuleMagento\Block\Adminhtml\System\Config\Form\Field\InStorePickupNote</frontend_model>
                    </field>
                    <field id="store_pickup_display" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Display In-Store Pickup as</label>
                        <source_model>Calcurates\ModuleMagento\Model\Config\Source\DisplayInStorePickupAsSource</source_model>
                        <config_path>carriers/calcurates/store_pickup_display</config_path>
                    </field>
                </group>
                <group id="advanced" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced</label>
                    <field id="api_get_rates_timeout" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>API Timeout (seconds)</label>
                        <validate>validate-greater-than-zero validate-digits required-entry</validate>
                        <config_path>carriers/calcurates/api_get_rates_timeout</config_path>
                    </field>
                    <field id="shipping_methods_for_fallback" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show only if error or API timeout exceeded</label>
                        <source_model>Calcurates\ModuleMagento\Model\Config\Source\ActiveShippingMethodsSource</source_model>
                        <comment>Selected methods must be enabled. Leave empty to show all active methods</comment>
                        <config_path>carriers/calcurates/shipping_methods_for_fallback</config_path>
                        <can_be_empty>1</can_be_empty>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Enable Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>carriers/calcurates/debug</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
