<tr class="row"
    click="element.handleSelectShippingMethod.bind(element, $data, $parent, $parents[1])">
    <td class="col">
        <!-- ko ifnot: ($parent.origin_id) -->
        <input type="radio"
               class="radio"
               ifnot="method.error_message"
               ko-checked="element.isSelected"
               ko-value="method.carrier_code + '_' + method.method_code"
               attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                    'checked': element.rates().length == 1 || element.isSelected" />
        <!-- /ko -->
        <!-- ko if: ($parent.origin_id) -->
        <input type="radio"
               class="radio"
               ifnot="method.error_message"
               ko-checked="element.splitCheckoutShipments[$parent.origin_id]"
               ko-value="method.carrier_code + '_' + method.method_code"
               attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                    'checked': element.rates().length == 1 || element.splitCheckoutShipments[$parent.origin_id]" />
        <!-- /ko -->

    </td>
    <td class="col col-price">
        <each args="element.getRegion('price')" render=""></each>
    </td>
    <td class="col col-method"
        attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code">
        <span text="method.method_title"></span>
        <span if="method.extension_attributes && method.extension_attributes.calcurates_data.map_link" text="' - '"></span>
        <a if="method.extension_attributes && method.extension_attributes.calcurates_data.map_link"
           attr="'href': method.extension_attributes.calcurates_data.map_link"
           target="_blank"
           translate="'see on the map'"></a>
    </td>
    <td class="col col-logo"
        attr="'id': 'label_logo_' + method.method_code + '_' + method.carrier_code">
        <img if="method.extension_attributes && method.extension_attributes.calcurates_data.image_url"
             class="calcurates-rate-img"
             attr="'src': method.extension_attributes.calcurates_data.image_url"/>
    </td>
    <td class="col col-carrier"
        attr="'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code"
        text="method.carrier_title">
    </td>
    <td>
        <div class="field-tooltip toggle"
             style="position: relative"
             if="method.extension_attributes && method.extension_attributes.calcurates_data.tooltip_message">
            <span id="calendar-label" class="label"><!-- ko i18n: 'Tooltip' --><!-- /ko --></span>
            <span
                    id="calendar"
                    class="field-tooltip-action action-calendar"
                    tabindex="0"
                    data-toggle="dropdown"
                    data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}"
                    aria-labelledby="tooltip-label"
            >
         </span>
            <div class="field-tooltip-content"
                 data-target="dropdown" translate="method.extension_attributes.calcurates_data.tooltip_message">
            </div>
        </div>
        <div class="field-tooltip toggle"
             style="position: relative"
             if="method.extension_attributes && method.extension_attributes.calcurates_data.info_message">
            <span id="tooltip-label" class="label"><!-- ko i18n: 'Tooltip' --><!-- /ko --></span>
            <span
                    id="tooltip"
                    class="field-tooltip-action action-help"
                    tabindex="0"
                    aria-labelledby="tooltip-label"
                    data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}"
            >
            </span>
            <div class="field-tooltip-content" translate="method.extension_attributes.calcurates_data.info_message">
            </div>
        </div>
    </td>
</tr>
<tr class="row row-error"
    if="method.error_message">
    <td class="col col-error" colspan="5">
        <div role="alert" class="message error">
            <div text="method.error_message"></div>
        </div>
        <span class="no-display">
            <input type="radio"
                   attr="'value' : method.method_code, 'id': 's_method_' + method.method_code" />
        </span>
    </td>
</tr>
