<div class="calcurates-rates-container">
    <ifnot args="usePlacesAutocomplete()">
        <div class="calcurates-rates-title">
            <span translate="'Estimated Delivery'"></span>
        </div>
    </ifnot>

    <if args="usePlacesAutocomplete()">
        <div class="calcurates-rates-title">
            <span text="googlePlacesInputTitle"></span>
        </div>
        <div class="calcurates-address-autocomplete" data-bind="afterRender: initPlacesAutocomplete">
            <input type="text" id="placesAutocomplete" data-bind="attr:{placeholder: googlePlacesInputPlaceholder} "/>
        </div>
    </if>

    <if args="!rates().length && (!usePlacesAutocomplete() || !_.isEmpty(currentAddress))">
        <div class="calcurates-rates-container">
            <span text="fallbackMessage"></span>
        </div>
    </if>

    <if args="rates().length">
        <div class="calcurates-rates-list">
            <each args="data: rates(), as: 'rate'">
                <div class="calcurates-rate-item" data-bind="template: { name: $parent.getRateTemplate(rate) }"></div>
            </each>
        </div>
    </if>
</div>
